body {
    background-color: #020b26; 
    text-align: center;
    font-family: Arial, sans-serif;
    padding-top: 50px;
}

h1 {
    margin-bottom: 10px;
    color: #00eaff;
}


.space {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 40px auto;
}

.earth {
    width: 120px;
    height: 120px;
    background: radial-gradient(circle, #1a75ff 40%, #0044aa 80%);
    border-radius: 50%;
    position: absolute;
    top: 115px;
    left: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    box-shadow: 0 0 20px #1a75ff;
}

.moon {
    width: 50px;
    height: 50px;
    background: radial-gradient(circle at 30% 30%, #ffffff 30%, #aaaaaa);
    border-radius: 50%;
    position: absolute;
    animation: moonOrbit 4s linear infinite;
    transform-origin: -170px -170px;
}
@keyframes moonOrbit {
    0% { transform: rotate(0deg) translateX(170px); }
    100% { transform: rotate(360deg) translateX(170px); }
button {
    background: #00eaff;
    border: none;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.3s;
}

button:hover {
    background: #008ab8;
    color: white;
}

